<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

      <div class="blogs content">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde ipsam
          laboriosam dolore enim nostrum sunt nobis vitae neque similique quas ea
          ipsum sed aliquam aperiam eos consectetur, delectus laudantium a.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde ipsam
          laboriosam dolore enim nostrum sunt nobis vitae neque similique quas ea
          ipsum sed aliquam aperiam eos consectetur, delectus laudantium a.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde ipsam
          laboriosam dolore enim nostrum sunt nobis vitae neque similique quas ea
          ipsum sed aliquam aperiam eos consectetur, delectus laudantium a.
        </p>
      </div>

      <%- include("../partials/footer.ejs") %>
  </body>

</html>